stages:
  - test-job

test-job:
  stage: test-job
  image: eclipse-temurin:21-jdk
  services:
    - docker:24.0.5-dind
  variables:
    DOCKER_HOST: "tcp://docker:2375"
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2
    TESTCONTAINERS_HOST_OVERRIDE: "docker"
    TESTCONTAINERS_RYUK_DISABLED: "true"
  before_script:
    - apt-get update && apt-get install -y git docker.io
    - chmod +x runTests.sh
  script:
    - ./runTests.sh